<footer class="footer_section">
   <div class="container">
      <div class="row">
         <div class="col-md-4 footer-col">
            <div class="footer_contact">
               <h4>
                  Contact
               </h4>
               <div class="contact_link_box">
                  <a href="mailto:isthmuscarshare@gmail.com">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                  isthmuscarshare@gmail.com
                  </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-4 footer-col">
            <div class="footer_detail">
               <a href="index.html" class="footer-logo">
               Isthmus Carshare
               </a>
               <p>
                  Madison's carshare cooperative
               </p>
               <div class="footer_social">
                  <a href="https://www.linkedin.com/company/isthmus-carshare">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<div class="cpy_">
    <p class="mx-auto">© IsthmusCarshare 2024 All Rights Reserved<br>
    
       HTML Theme By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
    
    </p>
</div>