<script>
    submitted=false;
</script>


<div class="section-subheading text-muted" id="success" style="display:none;"><h4>Thanks for signing up! Check your email for the reservation details. Reload this page to submit another reservation.</h4></div>
<div class="container" id="wholeForm">
  <h2>Reservation Form</h2>
  <p>For a multi-day reservation please email <strong>isthmuscarshare@gmail.com</strong></p>
  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSd_dbLu9mEUznwakTOYJmZHXFDfuogSocV0DKhPlreWC3ncWA/formResponse" method="POST" id="myForm" target="hidden_iframe" onsubmit="check_calendar()">
    <div class="form-group" style="display:none">
      <label for="car">Which Car:</label>
      <input type="text" class="form-control" id="car" name="entry.361216248" value="Car 1" required>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" id="date" name="entry.1160707494" placeholder="Select date" required>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="startTime">Start Time:</label>
      <select class="form-control" id="startTime" name="entry.949740202" required>
        <option value="00:00">12:00 AM</option>
        <option value="01:00">1:00 AM</option>
        <option value="02:00">2:00 AM</option>
        <option value="03:00">3:00 AM</option>
        <option value="04:00">4:00 AM</option>
        <option value="05:00">5:00 AM</option>
        <option value="06:00">6:00 AM</option>
        <option value="07:00">7:00 AM</option>
        <option value="08:00">8:00 AM</option>
        <option value="09:00">9:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 PM</option>
        <option value="13:00">1:00 PM</option>
        <option value="14:00">2:00 PM</option>
        <option value="15:00">3:00 PM</option>
        <option value="16:00">4:00 PM</option>
        <option value="17:00">5:00 PM</option>
        <option value="18:00">6:00 PM</option>
        <option value="19:00">7:00 PM</option>
        <option value="20:00">8:00 PM</option>
        <option value="21:00">9:00 PM</option>
        <option value="22:00">10:00 PM</option>
        <option value="23:00">11:00 PM</option>
      </select>
    </div>
    <div class="form-group">
      <label for="endTime">End Time:</label>
      <select class="form-control" id="endTime" name="entry.288916483" required>
        <option value="00:00">12:00 AM</option>
        <option value="01:00">1:00 AM</option>
        <option value="02:00">2:00 AM</option>
        <option value="03:00">3:00 AM</option>
        <option value="04:00">4:00 AM</option>
        <option value="05:00">5:00 AM</option>
        <option value="06:00">6:00 AM</option>
        <option value="07:00">7:00 AM</option>
        <option value="08:00">8:00 AM</option>
        <option value="09:00">9:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 PM</option>
        <option value="13:00">1:00 PM</option>
        <option value="14:00">2:00 PM</option>
        <option value="15:00">3:00 PM</option>
        <option value="16:00">4:00 PM</option>
        <option value="17:00">5:00 PM</option>
        <option value="18:00">6:00 PM</option>
        <option value="19:00">7:00 PM</option>
        <option value="20:00">8:00 PM</option>
        <option value="21:00">9:00 PM</option>
        <option value="22:00">10:00 PM</option>
        <option value="23:00">11:00 PM</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="entry.430692538" placeholder="Enter your email" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="errorModalMessage">Error message goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if(submitted)  {document.getElementById('wholeForm').style.display='none'; document.getElementById('success').style.display='block'; setTimeout(function (){document.getElementById('calendar-iframe').src = document.getElementById('calendar-iframe').src;}, 5000);}"></iframe>
<style>
  #spinnerOverlay {
    z-index: 1000; /* Ensure the spinner appears above other content */
  }

  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
</style>

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>


<script type="module" src="./assets/js/form.js"></script>

<script src="https://apis.google.com/js/api.js"></script>
<script>
window.addEventListener('load', function () {
  const apikey = window.constants.API_KEY;
  const calendarId = window.constants.CALENDAR_ID;

  function showErrorModal(message) {
        document.getElementById('errorModalMessage').textContent = message; // Set error message in modal
        modal = new bootstrap.Modal(document.getElementById('errorModal')); // Create new modal instance
        modal.show();
  }

  function hideErrorModal() {
        modal.hide();
  }

  function check_calendar(){
    const selectedDate = document.getElementById('date').value // Assuming 'date' is the ID of your date input field
    const startTimeString = document.getElementById('startTime').value // Value like 2:00 PM
    const endTimeString = document.getElementById('endTime').value // Value like 4:00 PM

    let startDateTime = new Date(selectedDate + ' ' + startTimeString)
    let endDateTime = new Date(selectedDate + ' ' + endTimeString)

    if (startDateTime >= endDateTime) {
      showErrorModal('End Time must be after Start Time.  Please revise your reservation start time to be before your end time')
      return
    }

    startDateTime.setMinutes(startDateTime.getMinutes() - 1)
    endDateTime.setMinutes(endDateTime.getMinutes() + 1)

    if (startDateTime < new Date()) {
      showErrorModal('Cannot check out car before current time.  Please revise your start time to be after '+ (new Date()).toLocaleString())
      return
    }

    const startIsoDateTime = startDateTime.toISOString()
    const endIsoDateTime = endDateTime.toISOString()

    fetch(`https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(calendarId)}/events?key=${apikey}&timeMin=${startIsoDateTime}&timeMax=${endIsoDateTime}`)
        .then(response => response.json())
        .then(data => {
            console.log(data.items.len)
            console.log(data.items)
            if(data.items.length>0){
              showErrorModal('The car was already reserved during that time.  Please consult the calendar below and choose a different time.')
              submitted = false
            }else{
              submitted = true
            }
        })
        .catch(error => {
            console.error('Error fetching events:', error)
        });

    showErrorModal('Submission in progress. Wait one moment.')
    hideErrorModal() 
    setTimeout(function (){
      hideErrorModal()
    }, 4000);
  }
})

</script>
