<section class="slider_section ">
   <div class="slider_bg_box">
      <!-- <img src="images/slider-bg.jpg" alt=""> -->
      <img src="assets/images/IsthmusLogo_screenshot.png" alt="">
   </div>
   <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                           Madison's member-owned carshare co-op
                           </span>
                        </h1>
                        <p>
                           An affordable, member-owned, and community-oriented 
                           alternative to private car ownership in Madison that will  
                           enhance mobility and transportation equity in our city, 
                           reduce congestion, and promote environmental stewardship <br>
                        
                        </p>
                        <div class="btn-box">
                           <a href="new_reservation.html" class="btn1">
                           Book a Car Now
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item ">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                           An affordable alternative to car ownership
                           </span>
                        </h1>
                        <p>
                           Map out your next trip with our quick and easy trip planner. <br> <br>
                           Plug in your destination, how long you plan to be there, 
                           and get an estimated cost! 
                        
                        </p>
                        <div class="btn-box">
                           <a href="trip_planner/trip_planner.html" class="btn1">
                           Plan your trip
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item ">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                           Sharing cars helps the environment
                           </span>
                        </h1>
                        <p>
                           In addition to reducing transportation costs, sharing cars has been shown to reduce traffic congestion and reduce 
                           greenhouse gas emissions. <br> <br>
                           For a sustainable future, Madison needs a 
                           local carshare. 
                        
                        </p>
                        <div class="btn-box">
                           <a href="https://why.isthmuscarshare.com" class="btn1">
                              Why Carshare?
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-indicators">
          <button data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active"></button>
          <button data-bs-target="#customCarousel1" data-bs-slide-to="1"></button>
          <button data-bs-target="#customCarousel1" data-bs-slide-to="2"></button>
      </div>
   </div>
</section>
